body {
  /*background-color: black;*/
  width: 100%;
  height: 100%;
}

.vend-item{
  -webkit-transform: rotate(2700deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
