img{
  height: 65%;
  width: 65%;
}

.vend-item{
  -webkit-transform: rotate(2700deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.container{
  height: 5vh;
}

/*.col-md-2 {*/
  /*width: 14%;*/
/*}*/

.offset-header{
  left: 4%;
}

.offset-txt{
  left: 38%;
}

.offset-img{
  left: 25%;
}

button{
  background-color: white;
  color: black;
  font-size: x-large;
  height: 160px;
  width:250px;
  margin-top: 6px;
}

.btn-block{
width:100%
}

.btn-info{
  background-color: #4d90fe;
}

.btn-danger{
  background-color: orangered !important;
}

.btn-primary{
  background-color: green !important;
}
